In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

from sklearn.decomposition import PCA, KernelPCA
from sklearn.datasets import make_circles

In [4]:
path = 'agua.csv'
df = pd.read_csv(path)
df.head()

    Año  Basura_recolectada_(Miles de toneladas)  Vehículos_recolectores
0  2007                                  4104.29                     207
1  2008                                  4165.33                    1320
2  2009                                  3946.69                    2023
3  2010                                  4747.10                    1463
4  2011                                  5286.66                    1467

In [5]:
all_variables = ['Año','BasuraRecolectadaMiles','Veiculos'] #ojo en el tarjet
features = ['BasuraRecolectadaMiles','Veiculos']
target = ['Año']

df = pd.read_csv(path, names=all_variables)
df.head()

    Año                   BasuraRecolectadaMiles                Veiculos
0   Año  Basura_recolectada_(Miles de toneladas)  Vehículos_recolectores
1  2007                                  4104.29                     207
2  2008                                  4165.33                    1320
3  2009                                  3946.69                    2023
4  2010                                  4747.10                    1463

In [6]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_sc = pd.DataFrame(scaler.fit_transform(df[features]),
                 columns=features)
df_sc.head()

ValueError: could not convert string to float: 'Basura_recolectada_(Miles de toneladas)'

No se puede transformar ninguno de los datos, ya que no puede convertilos.