In [30]:
practica6 <- read.csv('C:/Users/Axel/Documents/edgar/1 Mineria Axel/practica6.csv')

In [32]:
head(practica6,n=3)

  CARRERA CARRERA_LO_QREALM_QUERIAS APASIONA_TUCARRERA OPORT_LABORALES
1 1       1                         5                  3
2 2       1                         2                  4
3 2       1                         3                  2
  FERIAS_EXPO REC_FINANCIEROS
1 1           1
2 1           5
3 1           1

In [33]:
df <- practica6

In [34]:
str(df)

'data.frame':	50 obs. of  6 variables:
 $ CARRERA                  : int  1 2 2 3 2 2 4 4 5 6 ...
 $ CARRERA_LO_QREALM_QUERIAS: int  1 1 1 1 1 1 1 1 1 2 ...
 $ APASIONA_TUCARRERA       : int  5 2 3 1 3 1 5 5 2 2 ...
 $ OPORT_LABORALES          : int  3 4 2 1 3 4 5 5 4 5 ...
 $ FERIAS_EXPO              : int  1 1 1 1 2 4 5 5 1 1 ...
 $ REC_FINANCIEROS          : int  1 5 1 3 1 1 4 1 5 1 ...

In [35]:
df <-scale(df)

In [36]:
head(df, n = 3)

     CARRERA    CARRERA_LO_QREALM_QUERIAS APASIONA_TUCARRERA OPORT_LABORALES
[1,] -1.0608381 -1.69037                   1.2020460         -0.4891149
[2,] -0.8528306 -1.69037                  -1.3022165          0.2519683
[3,] -0.8528306 -1.69037                  -0.4674623         -1.2301980
     FERIAS_EXPO REC_FINANCIEROS
[1,] -0.8029319  -0.8956418
[2,] -0.8029319   1.9032389
[3,] -0.8029319  -0.8956418

In [37]:
ss <- sample(1:50, 15) #tomamos 15 observaciones 
df <- practica6[ss, ]  #creamos el subcojunto
df.scaled <- scale(df) #estandarizamos los valores de las caracterÃ­cticas

In [38]:
dist.eucl <- dist(df.scaled, method = "euclidean")

In [39]:
round(as.matrix(dist.eucl)[1:3, 1:3], 1)

   40  15  26
40 0.0 4.0 3.2
15 4.0 0.0 3.8
26 3.2 3.8 0.0

In [40]:
library(cluster)

In [41]:
head(practica6, 3)

  CARRERA CARRERA_LO_QREALM_QUERIAS APASIONA_TUCARRERA OPORT_LABORALES
1 1       1                         5                  3
2 2       1                         2                  4
3 2       1                         3                  2
  FERIAS_EXPO REC_FINANCIEROS
1 1           1
2 1           5
3 1           1

In [42]:
head(df)

   CARRERA CARRERA_LO_QREALM_QUERIAS APASIONA_TUCARRERA OPORT_LABORALES
40  2      4                         4                  5
15  2      2                         3                  1
26 10      3                         4                  5
49 14      4                         5                  5
13  8      2                         5                  5
10  6      2                         2                  5
   FERIAS_EXPO REC_FINANCIEROS
40 5           1
15 1           1
26 1           3
49 5           3
13 3           1
10 1           1

In [43]:
head(df.scaled)

   CARRERA     CARRERA_LO_QREALM_QUERIAS APASIONA_TUCARRERA OPORT_LABORALES
40 -0.82983003  1.2486356                 0.4280550          0.6492345
15 -0.82983003 -0.5351296                -0.3745481         -2.1331989
26  0.98070822  0.3567530                 0.4280550          0.6492345
49  1.88597735  1.2486356                 1.2306581          0.6492345
13  0.52807366 -0.5351296                 1.2306581          0.6492345
10  0.07543909 -0.5351296                -1.1771513          0.6492345
   FERIAS_EXPO REC_FINANCIEROS
40  1.1371586  -0.9132324
15 -0.9304025  -0.9132324
26 -0.9304025   0.5287135
49  1.1371586   0.5287135
13  0.1033781  -0.9132324
10 -0.9304025  -0.9132324

In [59]:
dd <- daisy(df.scaled) 
round(as.matrix(dd)[1:15, 1:15], 2)

   40   15   26   49   13   10   38   14   41   24   4    18   37   5    7
40 0.00 3.98 3.23 3.18 2.60 3.29 0.00 3.29 4.25 1.83 5.21 3.02 3.37 3.48 3.56
15 3.98 0.00 3.81 5.22 3.64 3.03 3.98 3.03 4.64 3.49 2.35 4.67 2.27 1.73 4.50
26 3.23 3.81 0.00 2.56 2.19 2.50 3.23 2.50 1.75 2.83 4.39 3.10 2.34 3.37 3.23
49 3.18 5.22 2.56 0.00 2.86 4.31 3.18 4.31 2.44 3.05 5.97 3.30 3.98 4.85 3.58
13 2.60 3.64 2.19 2.86 0.00 2.66 2.60 2.66 3.54 2.63 4.82 3.56 3.19 2.72 2.71
10 3.29 3.03 2.50 4.31 2.66 0.00 3.29 0.00 3.88 3.32 3.42 4.10 1.82 2.11 3.97
38 0.00 3.98 3.23 3.18 2.60 3.29 0.00 3.29 4.25 1.83 5.21 3.02 3.37 3.48 3.56
14 3.29 3.03 2.50 4.31 2.66 0.00 3.29 0.00 3.88 3.32 3.42 4.10 1.82 2.11 3.97
41 4.25 4.64 1.75 2.44 3.54 3.88 4.25 3.88 0.00 3.77 5.02 3.84 3.04 4.68 4.33
24 1.83 3.49 2.83 3.05 2.63 3.32 1.83 3.32 3.77 0.00 4.20 1.60 3.02 2.97 2.24
4  5.21 2.35 4.39 5.97 4.82 3.42 5.21 3.42 5.02 4.20 0.00 4.81 2.66 2.63 4.78
18 3.02 4.67 3.10 3.30 3.56 4.10 3.02 4.10 3.84 1.60 4.81 0.00 3.84 4.06 2.13
37 3.37 2.27 2.34 3.98 3.19 1.82 3.37 1.82 3.04 3.02 2.66 3.84 0.00 2.43 4.21
5  3.48 1.73 3.37 4.85 2.72 2.11 3.48 2.11 4.68 2.97 2.63 4.06 2.43 0.00 3.44
7  3.56 4.50 3.23 3.58 2.71 3.97 3.56 3.97 4.33 2.24 4.78 2.13 4.21 3.44 0.00

In [60]:
packages <- c("stats", "cluster", "factoextra")
lapply(packages, library, character.only = TRUE)

ERROR: Error in FUN(X[[i]], ...): there is no package called 'factoextra'

In [63]:
packages <- c("stats", "cluster")
lapply(packages, library, character.only = TRUE)

[[1]]
 [1] "cluster"   "ggplot2"   "dplyr"     "stats"     "graphics"  "grDevices"
 [7] "utils"     "datasets"  "methods"   "base"

[[2]]
 [1] "cluster"   "ggplot2"   "dplyr"     "stats"     "graphics"  "grDevices"
 [7] "utils"     "datasets"  "methods"   "base"

In [68]:
kmeans(df.scaled, 7, iter.max = 10, nstart = 1)

K-means clustering with 7 clusters of sizes 3, 1, 1, 2, 3, 2, 3

Cluster means:
     CARRERA CARRERA_LO_QREALM_QUERIAS APASIONA_TUCARRERA OPORT_LABORALES
1  0.1508782                -0.2378354         -1.1771513       0.1854956
2  0.5280737                -0.5351296          1.2306581       0.6492345
3 -0.6035128                -1.4270121         -1.9797544      -2.1331989
4 -0.8298300                -0.9810708         -0.3745481      -1.4375906
5  1.6596601                 0.9513414          0.6955894       0.4173650
6 -0.8298300                 1.2486356          0.4280550       0.6492345
7 -0.6789518                -0.2378354          0.6955894       0.4173650
  FERIAS_EXPO REC_FINANCIEROS
1  -0.9304025      -0.6729081
2   0.1033781      -0.9132324
3  -0.9304025       0.5287135
4  -0.6719574      -0.9132324
5  -0.2412155       0.7690378
6   1.1371586      -0.9132324
7   1.1371586       1.2496864

Clustering vector:
40 15 26 49 13 10 38 14 41 24  4 18 37  5  7
 6  4  5  5  2  1  6  1  5  7  3  7  1  4  7

Within cluster sum of squares by cluster:
[1] 2.201307 0.000000 0.000000 1.499057 5.195812 0.000000 4.049430
 (between_SS / total_SS =  84.6 %)

Available components:

[1] "cluster"      "centers"      "totss"        "withinss"     "tot.withinss"
[6] "betweenss"    "size"         "iter"         "ifault"

In [74]:

install.packages("factoextra")

also installing the dependencies 'zip', 'SparseM', 'MatrixModels', 'sp', 'openxlsx', 'minqa', 'nloptr', 'RcppEigen', 'carData', 'pbkrtest', 'quantreg', 'maptools', 'rio', 'lme4', 'viridis', 'car', 'ellipse', 'flashClust', 'leaps', 'scatterplot3d', 'ggsci', 'cowplot', 'ggsignif', 'gridExtra', 'polynom', 'abind', 'dendextend', 'FactoMineR', 'ggpubr', 'ggrepel'

package 'zip' successfully unpacked and MD5 sums checked

ERROR: Error in unpackPkgZip(foundpkgs[okp, 2L], foundpkgs[okp, 1L], lib, libs_only, : ERROR: failed to lock directory 'C:\Users\Axel\Anaconda3\Lib\R\library' for modifying
Try removing 'C:\Users\Axel\Anaconda3\Lib\R\library/00LOCK'

In [75]:
library(factoextra)

ERROR: Error in library(factoextra): there is no package called 'factoextra'

In [76]:
install.packages(c("factoextra","fpc","NbClust"))

also installing the dependencies 'zip', 'SparseM', 'MatrixModels', 'sp', 'openxlsx', 'minqa', 'nloptr', 'RcppEigen', 'carData', 'pbkrtest', 'quantreg', 'maptools', 'rio', 'lme4', 'viridis', 'car', 'ellipse', 'flashClust', 'leaps', 'scatterplot3d', 'ggsci', 'cowplot', 'ggsignif', 'gridExtra', 'polynom', 'modeltools', 'DEoptimR', 'abind', 'dendextend', 'FactoMineR', 'ggpubr', 'ggrepel', 'mclust', 'flexmix', 'prabclus', 'diptest', 'robustbase', 'kernlab'

package 'zip' successfully unpacked and MD5 sums checked

ERROR: Error in unpackPkgZip(foundpkgs[okp, 2L], foundpkgs[okp, 1L], lib, libs_only, : ERROR: failed to lock directory 'C:\Users\Axel\Anaconda3\Lib\R\library' for modifying
Try removing 'C:\Users\Axel\Anaconda3\Lib\R\library/00LOCK'